<div class="title_container" style="flex-direction: row !important">
    <h1 class="title">Mi <span class="title_key_word">Cuenta</span></h1>
    <%= link_to logout_path, class: "logout_button", method: :delete do %>
        <div>Log out</div>
    <% end %>
</div>

<%= form_with model: @user  do |form| %>
    <div class="my_account_form_container">
        <div class="my_account_user_passwd">
            <div style="padding-bottom: 10px;">
                <%= form.label :nombre, "Nombre de usuario", class: "my_account_form_label" %>
            <br>
                <%= form.text_field :nombre, class: "my_account_form_text_field" %>
            </div>
            <div>
                <%= form.label :password, "Contraseña", class: "my_account_form_label" %>
            <br>
                <%= form.password_field :password, class: "my_account_form_text_field" %>
            </div>
            <% @user.errors.full_messages.each do |msg| %>
                <div><%= msg %></div>
            <% end %>
        </div>
        <div class="my_account_profile_img_container">
            <div class="my_account_profile_img_title">Imagen de Perfil</div>
            <% if @user.ruta_img_perfil.present? %>
                <%= image_tag @user.ruta_img_perfil, class: "my_account_profile_img" %>
            <% else %>
                <%= image_tag "default_profile_img", class: "my_account_profile_img" %>
            <% end %>
            <label class="new_post_image_upload_button">
                <%= form.file_field :ruta_img_perfil %>
                <%= image_tag "image-icon", class: "new_post_image_upload_icon" %>
                <div class="new_post_image_upload_text">Modificar</div>
            </label>
        </div>
        <div class="my_account_stats_container">
            <p class="my_account_stats_title">Estadísticas</p>
            <div>
                <p>Posts - <span class="my_account_metrics"><%= @num_posts %></span></p>
                <p>Reviews - <span class="my_account_metrics"><%= @num_reviews %></span></p>
                <p>Respuestas - <span class="my_account_metrics"><%= @num_responses %></span></p>
                <p>Comentarios del último mes - <span class="my_account_metrics"><%= @num_comments_last_month %></span></p>
            </div>
            <% if @num_restaurants_user > 0 %>
                <p>Estadísticas de tus restaurantes en el último mes</p>
                <p>Reviews recibidas sobre restaurantes: <%= @num_reviews_restaurant_last_month %></p>
                <p>Reviews recibidas sobre platos: <%= @num_reviews_dishes_last_month %></p>
                <p>Respuestas recibidas: <%= @num_responses_restaurant_last_month %></p>
                <p>Likes recibidos: <%= @num_likes_restaurant_last_month %></p>
                <p>Dislikes recibidos: <%= @num_dislikes_restaurant_last_month %></p>
            <% end %>


        </div>
        <%= form.button type: :submit, class: "new_post_submit", style: "grid-column: span 3;" do %>
            <%= image_tag "save", class: "new_post_submit_icon" %>
            <div class="new_post_submit_text">Guardar</div>
        <% end %>
    </div>
<% end %>
