<h1> New Dish </h1>

<% if flash[:fails] %>
  <div class="notice" ><%= flash[:fails] %></div>
<% end %>
<%= form_with model: @dish do |form| %>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre, value: @dish.nombre %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.text_field :rutaImgPlato, value: @dish.rutaImgPlato %>
  </div>
  <div>
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion , value: @dish.descripcion %>
  </div>
  <div>
    <%= form.label :precio %>
    <%= form.text_field :precio, value: @dish.precio %>
  </div>
  <div>
    <%= form.submit "Guardar" %>
  </div>
<% end %>
