<div class="posts_container">
  <div class="title_container" style="flex-direction: row;">
    <div>
      <div class="title">Restaurante <span class="title_key_word"><%= @dish.restaurant.nombre %></span></div>
      <div class="subtitle">Comentarios sobre el plato:</div>
    </div>
    <!-- Mostrar el botón de editar solo si el usuario es el propietario del restaurante -->
    <% if session[:username].present? and user_is_owner?(@restaurant.id) %>
      <!-- Si el restaurante tiene su imported_id distinto de nil, significa que es un restaurante importado y no se puede editar -->
      <% if @dish.imported_id %>
        <%= link_to "#{ENV['EINA_EATS_WEB']}/platosrestaurante/#{@restaurant.imported_id}", style: "text-decoration: none" do %>
          <div class="restaurants_header_edit_button">
            <span class="restaurants_header_edit_button_text">Editar en EinaEats</span>
          </div> 
        <% end %>
      <% else %>
        <%= link_to edit_restaurant_dish_path(@restaurant.id), style: "text-decoration: none" do %>
          <div class="restaurants_header_edit_button">
            <span class="restaurants_header_edit_button_text">Editar</span>
          </div> 
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="restaurant_dish_container">
    <% if @dish.ruta_img_plato.present? %>
      <%= image_tag @dish.ruta_img_plato, class: "restaurant_dish_img" %>
    <% else %>
      <%= image_tag "default-dish-img", class: "restaurant_dish_img" %>
    <% end %>

    <div class="restaurant_dish_content">
      <div class="restaurant_dish_name" style="color: var(--black) !important;"><%= @dish.nombre%></div>
      <div class="restaurant_dish_desc" style="color: var(--black) !important;"><%= @dish.descripcion %></div>
    </div>

    <div style="display: flex; gap: 20px; align-items: center;">
      <div class="restaurant_dish_price" style="color: var(--black) !important;"><%= @dish.precio %> €</div>
    </div>
  </div>
  
  <div class="category_post_list" style="margin-top: 0;">
    <%= render "layouts/comment", comments: @dish.reviews, locals: {reactions: @reviews_reactions, user_reactions: @reviews_user_reactions}%>
  </div>
  <%= render "layouts/add_comment", path_param: new_review_path(review_to: @dish.id, review_type: "Dish") %>
</div>


