<%= form_with model: @category do |form| %>
  <div>
    <%= form.label :nombre, "Nombre de la categoría" %>
    <%= form.text_field :nombre %>
  </div>
  <div>
    <%= form.label :photo, "Imagen identificativa" %>
    <%= form.file_field :photo %>
  </div>
  <% @category.errors.full_messages.each do |msg| %>
    <div><%= msg %></div>
  <% end %>

  <%= form.submit %>
<% end %>
