<h1 class="title"><span class="title_key_word"><%= @category.nombre %></span> en Zaragoza</h1>


<%= render "layouts/comment", comments: @category.posts %>


<ul>
  <% @category.posts.each do |post| %>
    <li> <%= post.autor %> : <%= post.contenido %> </li>
    <%= image_tag(post.image) if post.image.attached? %>
  <% end %>
</ul>

<div>
  <%= link_to "Crear Post", new_post_path(category: @category.nombre) %>
</div>
