<%= form_with model: @restaurant do |form| %>
  <div class="categories_new_form_container">
      <div class="categories_new_name_container">
        <div>
          <label class="my_account_form_label">Nombre del restaurante</label><br>
          <%= form.text_field :nombre, class: "my_account_form_text_field", placeholder: "Burger" %>
        </div>
      </div>
      <div class="my_account_profile_img_container">
        <div class="my_account_profile_img_title">Añade una imagen de fondo</div>
        <% if @restaurant.ruta_img_fondo.present? %>
            <%= image_tag @restaurant.ruta_img, class: "categories_new_img" %>
        <% else %>
            <%= image_tag "Default-restaurant-img", class: "categories_new_img" %>
        <% end %>
        <label class="new_post_image_upload_button">
            <%= form.file_field :ruta_img %>
            <%= image_tag "image-icon", class: "new_post_image_upload_icon" %>
            <div class="new_post_image_upload_text">Modificar</div>
        </label>
      </div>

      <div class="categories_new_button_container">
        <%= form.button type: :submit, class: "new_post_submit" do %>
          <%= image_tag "send", class: "new_post_submit_icon" %>
          <div class="new_post_submit_text">Publicar</div>
        <% end %>
      </div>
  </div>
<% end %>
