
<div class="restaurants_header">
  <div class="restaurants_img">
    <% if locals[:restaurant].ruta_img_fondo.present? %>
      <%= image_tag locals[:restaurant].ruta_img_fondo %>
    <% else %>
      <%= image_tag "Default-restaurant-img" %>
    <% end %>
  </div>
  <div class="restaurants_header_content">
    <div>
      <div class="title">
        <%= locals[:restaurant].nombre %> - <span class="title_key_word"><%= locals[:restaurant].categoria %></span>
      </div>
      <div>
        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
      </div>
    </div>
    <div>
      <% if locals[:statistics] %>
        <div class="restaurants_stats_button">
          <%= image_tag "Barchart" %>
          <span class="restaurant_stats_text">Estadísticas</span>
        </div> 
      <% else %>
        <div class="restaurants_einaeats_button">
          <%= image_tag "Bolsa-einaeats" %>
          <span class="restaurant_einaeats_button_text">Pedir en EinaEats</span>
        </div> 
      <% end %>
    </div>
  </div>

  <div class="restaurants_header_botones">
    <a href="#restaurant_menu" class="restaurants_header_page_button">
      <div>Menú</div>
    </a>
    <a href="#restaurant_reviews" class="restaurants_header_page_button">
      <div>Reseñas</div>
    </a>
    <a href="#restaurant_posts" class="restaurants_header_page_button">
      <div>Posts del restaurante</div> 
    </a>
    <a href="#restaurant_info" class="restaurants_header_page_button">
      <div>Información</div>
    </a>
  </div>
</div>
