
<div class="restaurants-header">
  <!--- <%= image_tag "", class: "restaurant-img" %> --->
  <div class="restaurants-img">
    <% if locals[:restaurant].image.attached? %>
      <%= image_tag locals[:restaurant].image %>
    <% else %>
      <%= image_tag "Default-restaurant-img" %>
    <% end %>
  </div>
  <div class="restaurants-header-content">
    <div class="resturants-header-text">
      <div style="font-size: 30px">
        <%= locals[:restaurant].nombre %> - <span class="title_key_word"><%= locals[:restaurant].categoria %></span>
      </div>
      <div>
        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
      </div>
    </div>
    <div class="restaurants-header-info-button">
      <% if locals[:statistics] %>
        <div class="restaurants-stats-button">
          <%= image_tag "Barchart", style: "height: 30px; width: 30px; margin-top: 8px; margin-left: 20px"%>
          <span style="margin-top: 15px; margin-left: 30px">Estadísticas</span>
        </div> 
      <% else %>
        <div class="restaurants-einaeats-button">
          <%= image_tag "Bolsa-einaeats", style: "height: 30px; width: 30px; margin-top: 8px; margin-left: 10px"%>
          <span style="margin-top: 15px; margin-left: 10px">Pedir en EinaEats</span>
        </div> 
      <% end %>
    </div>
  </div>

  <div class="restaurants-header-botones"> 
    <div class="restaurants-header-page-button">Menú</div> 
    <div class="restaurants-header-page-button">Reseñas</div> 
    <div class="restaurants-header-page-button">Información</div> 
    <div class="restaurants-header-page-button">Posts del restaurante</div> 
  </div>
</div>
