<div class="explore_container">
    <div class="explore_best_valued">
        <div class="explore_top_section_title">Mejor valorados</div>
        <div class="explore_top_section_best_valued_list">
          <% @tops.each_with_index do |restaurant, pos| %>
            <div class="explore_top_section_best_valued_list_item">
                <%= pos + 1 %> - <%= restaurant.nombre %> 
            </div>
          <% end %>
        </div>
    </div>
    <div class="explore_promoted_restaurant">
        <div class="explore_top_section_title">Restaurante promocionado</div>
        <div class="explore_promoted_restaurant_box">
            <%= image_tag "Default-restaurant-img", class: "explore_promoted_restaurant_image" %>
            <div class="explore_promoted_restaurant_info">
                <div>
                    <div class="explore_promoted_restaurant_name">
                        Madison Smashburgers<br><span class="title_key_word">Burger</span>
                    </div>
                    <div class="explore_promoted_restaurant_stars">
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                    </div>
                </div>
                <div>
                    <div class="restaurants_einaeats_button">
                        <%= image_tag "Bolsa-einaeats" %>
                        <span class="restaurant_einaeats_button_text">Pedir en EinaEats</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="explore_lower_section">
        <div class="explore_restaurants_filters">
            <div class="explore_restaurants_filters_title">Filtrar por categoría</div>
            <% @categories.each do |category| %>
                <%= link_to restaurants_path(filter: category.nombre), class: "explore_restaurants_filters_item" do %>
                    <div><%= category.nombre %></div>
                <% end %>
            <% end %>
        </div>
        <div class="explore_restaurants_section">
            <% @restaurants.each do |restaurant| %>
                <%= link_to restaurant_path(restaurant), style: "text-decoration: none;" do %>
                    <div class="explore_restaurants_box">
                        <%= image_tag "Default-restaurant-img", class: "explore_restaurants_box_image" %>
                        <div class="explore_restaurant_box_name"><%= restaurant.nombre %></div>
                        <div class="explore_restaurant_box_category"><%= restaurant.categoria %></div>
                        <div>
                            <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                            <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
