<div class="explore_container">
    <div class="explore_best_valued">
        <div class="explore_top_section_title">Mejor valorados</div>
        <div class="explore_top_section_best_valued_list">
            5 mejores, hacer lista y usar explore_top_section_best_valued_list y 
            explore_top_section_best_valued_list_item de css
        </div>
    </div>
    <div class="explore_promoted_restaurant">
        <div class="explore_top_section_title">Restaurante promocionado</div>
        <div class="explore_promoted_restaurant_box">
            <%= image_tag "Default-restaurant-img", class: "explore_promoted_restaurant_image" %>
            <div class="explore_promoted_restaurant_info">
                <div>
                    <div class="explore_promoted_restaurant_name">
                        Madison Smashburgers<br><span class="title_key_word">Burger</span>
                    </div>
                    <div class="explore_promoted_restaurant_stars">
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                    </div>
                </div>
                <div>
                    <div class="restaurants_einaeats_button">
                        <%= image_tag "Bolsa-einaeats" %>
                        <span class="restaurant_einaeats_button_text">Pedir en EinaEats</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="explore_lower_section">
        <div class="explore_restaurants_filters">
            <div class="explore_restaurants_filters_title">Filtrar por categoría</div>
            <div class="explore_restaurants_filters_item">Burger</div>
            <div class="explore_restaurants_filters_item">Pizza</div>
            <div class="explore_restaurants_filters_item">Sushi</div>
            <div class="explore_restaurants_filters_item">Gourmet</div>
            <div class="explore_restaurants_filters_item">Turco</div>
            <div class="explore_restaurants_filters_item">Tapas</div>
        </div>
        <div class="explore_restaurants_section">
            <% @restaurants.each do |restaurant| %>
                <div  class="explore_restaurants_box">
                    <%= image_tag "Default-restaurant-img", class: "explore_restaurants_box_image"%>
                    <div class="explore_restaurant_box_name"><%= restaurant.nombre %></div>
                    <div class="explore_restaurant_box_category">Categoria</div>
                    <div>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                        <%= image_tag "Star", style: "width: 25px; height: 25px" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>












