<div>
  <%= render "header", locals: {restaurant: @restaurant, order: true, ratings: @ratings} %>

  <% if flash[:dishes] %>
    <div class="notice" ><%= flash[:dishes] %></div>
  <% end %>
  <div id="restaurant_menu" class="restaurant_section_title">Menú</div>
  <div class="restaurant_section_content">
    <% @restaurant.dishes.each do |dish| %>
      <div class="restaurant_dish_container" onclick="window.location='<%= get_dish_path(dish) %>'" style="cursor: pointer;">
        <% if dish.ruta_img_plato.present? %>
          <%= image_tag dish.ruta_img_plato, class: "restaurant_dish_img" %>
        <% else %>
          <%= image_tag "default-dish-img", class: "restaurant_dish_img" %>
        <% end %>

        <div class="restaurant_dish_content">
          <div class="restaurant_dish_name"><%= dish.nombre%></div>
          <div class="restaurant_dish_desc"><%= dish.descripcion %></div>
        </div>

        <div style="display: flex; gap: 20px; align-items: center;">
          <% if dish.imported_id %>
            <%= link_to "#{ENV['EINA_EATS_WEB']}/platosrestaurante/#{@restaurant.imported_id}", style: "text-decoration: none" do %>
              <div class="restaurants_new_dish_button">
                <span class="restaurants_new_dish_button_text">Editar en EinaEats</span>
              </div> 
            <% end %>
          <% else %>
            <%= link_to edit_restaurant_dish_path(@restaurant.id, dish.id), style: "text-decoration: none", onclick: "event.stopPropagation();" do %>
              <div class="restaurants_new_dish_button">
                <span class="restaurants_new_dish_button_text">Editar</span>
              </div> 
            <% end %>
          <% end %>
          <div class="restaurant_dish_price"><%= dish.precio %> €</div>
        </div>
      </div>
    <% end %>

      <!--  Si el usuario es el propietario del restaurante mostar un botón con el enlace a la pagina de añadir plato -->
    <% if session[:username].present? and user_is_owner?(@restaurant.id) %>
      <div style="display: flex; flex-direction: column; align-items: center;">
        <%= link_to "Añadir plato", new_restaurant_dish_path(@restaurant.id), class: "restaurants_new_dish_button" %>
      </div>
    <% end %>
  </div>

  <div id="restaurant_reviews" class="restaurant_section_title"> Reseñas del restaurante </div>
  <div class="restaurant_section_content_comments">
    <div class="restaurant_section_content restaurant_section_content_comments">
      <div class="category_post_list">
        <%= render "layouts/comment", comments: @restaurant.reviews, locals: {reactions: @reviews_reactions, user_reactions: @reviews_user_reactions}%>
      </div>
      <%= render "layouts/add_comment", path_param: new_review_path(review_to: @restaurant.id, review_type: "Restaurant") %> 
    </div>
  </div>
  <div id="restaurant_posts" class="restaurant_section_title"> Posts del restaurante </div>
  <div class="restaurant_section_content restaurant_section_content_comments">
    <div class="category_post_list">
      <%= render "layouts/comment", comments: get_rest_managers_posts(@restaurant.id), locals: {reactions: @posts_reactions, user_reactions: @posts_user_reactions} %>
    </div>
  </div>

  <div id="restaurant_info" class="restaurant_section_title"> Información del restaurante </div>
  <div class="restaurant_section_content restaurant_section_content_info">
  <div class="restaurant_dir_tlf_container">
    <div class="restaurant_info_item">
      <div class="restaurant_info_subtitle"> Direccion </div>
      <%= @restaurant.direccion %>
    </div>
    <div class="restaurant_info_item">
      <div class="restaurant_info_subtitle"> Telefono </div>
      <%= @restaurant.telefono %>
    </div>
  </div>
  <div class="restaurant_dir_tlf_container">
    <div class="restaurant_info_item">
      <div class="restaurant_info_subtitle"> Horario </div>
      <%= @restaurant.horario %>
    </div>
  </div>
</div>
