<h1>Iniciar sesión</h1>
<%= form_with model: @user do |form| %>
    <div>
      <%= form.label :nombre %><br>
      <%= form.text_field :nombre %>
    </div>
    <div>
      <%= form.label :contrasegna %><br>
      <%= form.text_field :contrasegna %>
    </div>

    <div>
      <%= form.submit %>
    </div>
<% end %>
