<div class="log_in_container">
  <h1 class="log_in_title">DESCUBRE LA COMUNIDAD DE APPETIZR</h1>
  <%= form_with url: login_path, html: {style: "row-gap: 20px"} do |form| %>
    <div class="log_in_text_field_wrapper">
      <%= image_tag "/images/login-username.svg", class: "log_in_text_field_icon" %>
      <%= form.text_field :nombre, placeholder: "NOMBRE DE USUARIO", class: "log_in_text_field_field" %>
    </div>
    <div class="log_in_text_field_wrapper">
      <%= image_tag "/images/login-password.svg", class: "log_in_text_field_icon" %>
      <%= form.password_field :password, placeholder: "CONTRASEÑA", class: "log_in_text_field_field" %>
    </div>
    <div>
      <%= form.submit "INICIAR SESIÓN", class: "log_in_button" %>
    </div>
  <% end %>

  <%= link_to new_user_path, style: "text-decoration: none;" do %> 
    <div class="register_button">CREAR CUENTA</div>
  <% end %>
</div>
