<ul style="margin-left: 40px; text-align: left">
  <% comments.each do |comment| %>
    <li class="comment-style">
        <div class="comment-head">
                <img style="width: 40px; height: 40px" src="https://via.placeholder.com/40x40" />
                <%= image_tag "Feather_more-vertical", class: "three-dots" %>
                <div style="left: 10%; position: absolute">
                            <div class="comment-tstamp">25 min ago</div>
                            <div class="comment-author"><%= comment.autor %></div>
                </div>
        </div>
        <div class="comment-continent">
          <div class="comment-content"><%= comment.contenido %></div>
        </div>
        <div>IMAGEN</div>
        <div style="width: 300px; height: 30px; position: relative">
          <div style="width: 44px; height: 28px; left: 256px; top: 2px; position: absolute">
                      <div class="comment-reviews-no">15</div>
                      <%= image_tag "Message-square", class: "comment-reviews-logo-continent" %>
          </div>
          <%= image_tag "Like", class: "comment-dislike" %>
          <div style="width: 62px; height: 28px; left: 0px; top: 0px; position: absolute">
              <div class="comment-reviews-no">125</div>
              <%= image_tag "Like", class: "comment-like" %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
