<ul class="comment_list">
  <% comments.each do |comment| %>
    <li class="comment_style">
      <div class="comment_head">
        <div class="comment_head_left_wrapper">
          <img style="width: 40px; height: 40px" src="https://via.placeholder.com/40x40" />
          <div class="comment_head_author_and_tstamp">
            <div class="comment_author"><%= comment.autor %></div>
            <div class="comment_tstamp"><%= time_ago_in_words(comment.updated_at) %> ago </div>
          </div>
        </div>
        <%= image_tag "Feather_more-vertical", class: "three_dots" %>
      </div>
      <div class="comment_content"><%= comment.contenido %></div>
      <% if comment.ruta_img.present? %>
        <%= image_tag comment.ruta_img, class: "comment_image" %>
      <% end %>
      <div class="comment_actions_row">
        <div class="comment_action_item">
          <%= image_tag "Like", style: "transform: rotate(-180deg)", class: "comment_action_logo" %>
          <span><%= get_number_of_likes(comment) %></span>
        </div>
        <div class="comment_action_item">
          <%= image_tag "Like", class: "comment_action_logo" %>
          <span><%= get_number_of_dislikes(comment) %></span> 
        </div>
        <% if is_not_response(comment) %>
          <div class="comment_action_item">
            <%= link_to get_response_path(comment), style: "text-decoration: none; color: black;" do %>
              <%= image_tag "Message-square", class: "comment_action_logo" %>
              <span><%= get_number_of_responses(comment) %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
