<ul style="margin-left: 40px; text-align: left">
  <% comments.each do |comment| %>
    <li class="comment_style">
      <div class="comment_head">
        <img style="width: 40px; height: 40px" src="https://via.placeholder.com/40x40" />
        <%= image_tag "Feather_more-vertical", class: "three_dots" %>
        <div style="left: 10%; position: absolute">
          <div class="comment_tstamp">25 min ago</div>
          <div class="comment_author"><%= comment.autor %></div>
        </div>
      </div>
      <div class="comment_continent">
        <div class="comment_content"><%= comment.contenido %></div>
      </div>
      <div>IMAGEN</div>
      <div style="width: 300px; height: 30px; position: relative">
        <div style="width: 44px; height: 28px; left: 256px; top: 2px; position: absolute">
          <div class="comment_reviews-no">15</div>
          <%= image_tag "Message-square", class: "comment_reviews_logo_continent" %>
        </div>
        <%= image_tag "Like", class: "comment_dislike" %>
        <div style="width: 62px; height: 28px; left: 0px; top: 0px; position: absolute">
          <div class="comment_reviews_no">125</div>
          <%= image_tag "Like", class: "comment_like" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
