<ul class="comment_list">
  <% comments.each do |comment| %>
    <li class="comment_style">
      <div class="comment_head">
        <div class="comment_head_left_wrapper">
          <% if get_user_of_comment(comment).ruta_img_perfil.present? %>
            <div class="comment_author_img_container">
              <% if get_comment_type(comment) == "Post" and comment.restaurant_id.present? %>
                <%= image_tag get_restaurant_of_post(comment).ruta_img_perfil, class: "comment_author_img" %>
              <% else %>
                <%= image_tag get_user_of_comment(comment).ruta_img_perfil, class: "comment_author_img" %>
              <% end %>
            </div>
          <% else %>
            <div class="comment_author_img_container">
              <%= image_tag "default_profile_img", class: "comment_author_img", style: "filter: brightness(90%);" %>
            </div>
          <% end %>

          <div class="comment_head_author_and_tstamp">
            <% if get_comment_type(comment) == "Post" and comment.restaurant_id.present? %>
              <div class="comment_author"><%= get_restaurant_of_post(comment).nombre %></div>
            <% else %>
              <div class="comment_author"><%= comment.autor %></div>
            <% end %>
            <div class="comment_tstamp"><%= time_ago_in_words(comment.updated_at) %> ago </div>
          </div>
        </div>
        <% if (session[:username] == comment.autor || soy_admin?) %>
            <%= link_to "Eliminar", get_delete_comment_path(comment), class: "delete_button", data: {turbo_method: :delete} %>
        <% else %>
            <%= image_tag "Feather_more-vertical", class: "three_dots" %>
        <% end %>
      </div>
      <div class="comment_content"><%= comment.contenido %></div>
      <% if comment.ruta_img.present? %>
        <%= image_tag comment.ruta_img, class: "comment_image" %>
      <% end %>
      <div class="comment_actions_row">
        <div class="comment_action_item">
          <%= render "layouts/reaction", locals: {comment: comment, button: "Like", rcts_no: locals[:reactions][comment.id][:likes], user_reaction_id: locals[:user_reactions][comment.id][:reaction_id]} %>
        </div>
        <div class="comment_action_item">
          <%= render "layouts/reaction", locals: {comment: comment, button: "Dislike", rcts_no: locals[:reactions][comment.id][:dislikes], user_reaction_id: locals[:user_reactions][comment.id][:reaction_id]} %>
        </div>
        <% if is_not_response(comment) %>
          <div class="comment_action_item">
            <%= link_to get_response_path(comment), style: "text-decoration: none; color: black;" do %>
              <%= image_tag "Message-square", class: "comment_action_logo" %>
              <span><%= locals[:reactions][comment.id][:responses] %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
