<div class="posts_container">
  <div class="title_container">
    <h1 class="title">Escribe tu <span class="title_key_word"><%= locals[:tipo] %></span></h1>
  </div>
  <%= form_with model: locals[:comment] do |form| %>
    <div class="new_post_container">
      <% if get_comment_type(locals[:comment]) == "Response" %>
        <%= form.hidden_field :respondable_id %>
        <%= form.hidden_field :respondable_type %>
        <%= form.hidden_field :autor %>
      <% elsif get_comment_type(locals[:comment]) == "Review" %>
        <%= form.hidden_field :reviewable_id %>
        <%= form.hidden_field :reviewable_type %>
        <%= form.hidden_field :autor %>
      <% elsif get_comment_type(locals[:comment]) == "Post" && locals[:user_restaurants] %>
        <%= form.collection_select :asOwnerOf, locals[:user_restaurants], :id, :nombre, prompt: 'None' %> 
      <% else %>
        <span>HEEEELLLLOOOO</span>
      <% end %>
      <div>
        <%= form.text_area :contenido, class: "new_post_text_field", placeholder: "Escribe tu contenido", size: '90x16' %>
      </div>
      <div class="new_post_buttons">
        <label class="new_post_image_upload_button">
          <%= form.file_field :ruta_img %>
          <%= image_tag "image-icon", class: "new_post_image_upload_icon" %>
          <div class="new_post_image_upload_text">Añade una imagen</div>
        </label>
        <% if get_comment_type(locals[:comment]) == "Review" && locals[:comment].reviewable_type == "Restaurant" %>
          <% 5.times.each do |i| %>
            <%= link_to restaurant_rank_path(restaurant_id: locals[:comment].reviewable_id, rank: i+1), class: "new_post_image_upload_button", data: {turbo_method: :post} do %>
              <span><%= i+1 %></span>
              <%= image_tag "Star", class: "new_post_submit_icon" %>
            <% end %>
          <% end %>
        <% end %>
        <%= form.button type: :submit, class: "new_post_submit" do %>
          <%= image_tag "send", class: "new_post_submit_icon" %>
          <div class="new_post_submit_text">Publicar</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
