<!DOCTYPE html>
<html>
  <head>
    <title>Appetizr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_importmap_tags %>

    <style>
      @import url('https://fonts.cdnfonts.com/css/chillax');
    </style>
  </head>

  <body>
    <div class="wraper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidenav' %>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
